body {
  font-family: Arial, sans-serif;
  background: #f9f9f9;
  margin: 0;
  padding: 0;
}

header {
  background-color: #ffcc00;
  text-align: center;
  padding: 10px;
}

nav a {
  margin: 0 10px;
  text-decoration: none;
  color: #333;
}

main {
  padding: 20px;
}

footer {
  background-color: #ffcc00;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
