version: "3.9"

services:
  web:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    container_name: mudzunga_creche_app
    ports:
      - "8080:80"
    volumes:
      - .:/var/www/html
    restart: always