version: '3.8'

services:
  web:
    build: .
    ports:
      - "8080:80"
    volumes:
      - ampfarisaho /var/www/html
    depends_on:
      - db
    networks:
      - app-network

  db:
    image: mysql:5.7
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: happy_kids_db
      MYSQL_USER: happy_kids_user
      MYSQL_PASSWORD: password
    ports:
      - "3306:3306"
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
