body {
    background-color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
}

.header {
    background-color: #6a0dad;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 2px;
}

.navbar {
    background-color: #b366ff;
    overflow: hidden;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    padding: 14px 18px;
    font-weight: bold;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #6a0dad;
}

.container {
    padding: 20px;
}

.button {
    background-color: #6a0dad;
    color: white;
    padding: 10px 15px;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

.button:hover {
    background-color: #4b087f;
}

.card {
    background: #f3e1ff;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
}
