body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f9f9f9;
  color: #333;
}

main {
  padding: 30px;
}

h1, h2, h3 {
  color: #333;
}

footer {
  text-align: center;
  padding: 15px;
  background: #222;
  color: white;
  margin-top: 50px;
}

a:hover {
  text-decoration: underline;
}
